html {
  text-align: center;
  background-color: #FF4F3F;
}
#name_entry{
  margin: 0;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}
h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 70px;
  margin: 0;
}
#innerbox_div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#innerbox_div div{
  background-color: #FF7F33;
  border-radius: 15%;
  margin: 10px;
  height: 200px;
  width: 200px;
  transition: all 0.4s;
}
#innerbox_div div:hover{
  background-color: #FF9F63;
  transform: scale(1.2);
}
