html {
  text-align: center;
  background-color: #FF4F3F;
  font-family: 'Shrikhand', cursive;
  cursor: pointer;
}
body {
  margin: 10px;
}
@-webkit-keyframes zoom {
  0%, 100% {transform: scale(1);}
  50%      {transform: scale(1.1);}
}
@-webkit-keyframes winning {
  0%        {transform: scale(1);}
  10%       {transform: scale(1.2);}
  20%       {transform: scale(1);}
  30%       {transform: rotate(0deg) translate(-30px,0px);}
  98%       {transform: rotate(2000deg) translate(1000px, 0px);}
  100%      {transform: rotate(2000deg) translate(1000px, 0px);}
}
@-webkit-keyframes sadness {
  0%        {transform: translate(0px, -500px); opacity: 0;}
  100%      {transform: translate(0px, 0px); opacity: 1;}
}
@-webkit-keyframes losing {
  0%        {transform: rotate(0deg);}
  20%       {transform: rotate(30deg);}
  100%      {transform: translate(0px, 5000px);}
}
@-webkit-keyframes bounce {
  0%, 100% {transform: translate(0px, 0px);}
  50%      {transform: translate(0px, 30px);}
}
@-webkit-keyframes popper {
  0%       {transform: scale(0);}
  80%      {transform: scale(1.3);}
  100%     {transform: scale(1);}
}
@-webkit-keyframes rotate {
  0%, 100% {transform: rotateZ(1deg);}
  50%      {transform: rotateZ(-2deg);}
}
h1 {
  font-size: 70px;
  margin: 0;
}
#innerbox_div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#innerbox_div div{
  background-color: #FF7F33;
  border-radius: 15%;
  margin: 10px;
  height: 200px;
  width: 200px;
  transition: all 0.4s;
  background-size: contain;
  transform: rotateY(-180deg);
}
.winning_div_actions{
  -webkit-animation:winning 5s 1;
}
.losing_div_actions{
  -webkit-animation:losing 5s 1;
}
#name_entry, #pre_game_body, #count_down_timer, #pre_game_options_menu, #victory_page, #loss_page{
  height: 90%;
  width: 98%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
}
#loss_page{
  color: #FFFFFF;
  -webkit-animation:sadness 3s 1;
}
#party_gif{
  background-image: url(img/winningbackground.gif);
}
#loss_gif{
  background-image: url(img/lossgif.gif);
  background-size: cover;
}
#victory_page{
  -webkit-animation:popper 1s 1;
}
#nextFunctionButton{
  padding: 20px;
  font-size: 30px;
  background-color: #E8B12E;
  border: 1px solid #555555;
  border-radius: 99999px;
  font-family: 'Shrikhand', cursive;
}
#pre_game_inner_options_menu h2{
  -webkit-animation:zoom 2s infinite;
  margin: 10% 10% 0 10%;
}
#pre_game_inner_body h2{
  -webkit-animation:zoom 2s infinite;
  margin: 10% 10% 0 10%;
}
#cardSelection, #healthSelection, #timeSelection{
  width: 50%;
}
#name_entry_inner_box{
  z-index: 10;
  -webkit-animation:rotate 3s infinite;
  display: inline;
}
#health_bar{
  display: block;
  background-color: #FFFFFF;
  height: 10px;
  margin: 0px;
  padding: 0px;
  border: 3px groove #FFFFFF;
}
#health_left{
  display: block;
  background-image: linear-gradient(to right, #FF0000 , #009933);
  width: 100%;
  height: 100%;
}
#health_remover{
  display: block;
  background-color: #FF4F3F;
  width: 0%;
  float: right;
  height: 100%;
}
#name_input_box{
  border: none;
  background-color: #FFB532;
  border-radius: 99999px;
  font-size: 50px;
  z-index: 100;
  text-align: center;
}
#name_entry_submit_button{
  position: absolute;
  width: 100%;
  height: 100%;
}
/*RANGE INPUT STYLING FOR MULTIPLE BROWSER*/
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
/*MEDIA QUERIES*/
@media (max-width: 900px) {
  #innerbox_div div{
    border: 1px solid #000000;
    margin: 5px;
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 800px)
and (orientation: portrait) {
  html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  body{
    height: 95%;
    width: 95%;
    margin: 0px;
  }
  h1 {
    font-size: 30px;
    margin: 0;
  }
  #innerbox_div div{
    border: 1px solid #000000;
    margin: 0px;
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 550px)
and (orientation: portrait) {
  #name_input_box{
    font-size: 40px;
    width: 90%;
  }
  #name_entry_inner_box{
    -webkit-animation:bounce 3s infinite;
    display: block;
    width: 100%;
  }
}
@media (max-width: 400px)
and (orientation: portrait) {
  #innerbox_div div{
    height: 80px;
    width: 80px;
  }
}
