html {
  text-align: center;
  background-color: #FF4F3F;
  font-family: 'Shrikhand', cursive;
}
h1 {
  font-size: 70px;
  margin: 0;
}
#innerbox_div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#innerbox_div div{
  background-color: #FF7F33;
  border-radius: 15%;
  margin: 10px;
  height: 200px;
  width: 200px;
  transition: all 0.4s;
}
#innerbox_div div:hover{
  background-color: #FF9F63;
  transform: scale(1.2);
}
#name_entry, #pre_game_body, #count_down_timer{
  height: 90%;
  width: 98%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}
#name_entry_inner_box{
  z-index: 10;
  display: inline;
}
#name_input_box{
  border: none;
  background-color: #FFB532;
  border-radius: 99999px;
  font-size: 50px;
  z-index: 100;
  text-align: center;
  /*Input Box Must Change Size On Moblie and Tablet*/
}
#name_entry_submit_button{
  position: absolute;
  width: 100%;
  height: 100%;
}
